#app{
  position: fixed;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
}

.upload-form .image-file{
  padding: 0;
  overflow: hidden;
}
.upload-form .image-file input{
  position: fixed;
  width: 0;
  height: 0;
  z-index: -1;
}
.upload-form .image-preview{
  position: relative;
  width: 250px;
  max-height: 350px;
  background: #eee;
  font-size: 3em;
  justify-content: center;
  align-items: center;
  display: flex;
  cursor: pointer;
}
.upload-form .image-preview img{
  max-width: 100%;
  max-height: 100%;
}
.image-upload,
.image-loading{
  transition: all .1s;
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(255,255,255,0.75);
  justify-content: center;
  align-items: center;
  display: flex;
  opacity: 0;
  z-index: 1;
}
.upload-form .image-preview:hover .image-upload{
  opacity: 1;
}

.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  display: table;
  transition: opacity .3s ease;
}

.modal-wrapper {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.modal-container {
  margin: 0 auto;
  padding: 20px 30px;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
  transition: all .3s ease;
  font-family: Helvetica, Arial, sans-serif;
  display: inline-block;
}

.modal-header h3 {
  margin-top: 0;
  color: #42b983;
}

.modal-body {
  margin: 20px 0;
}

.modal-default-button {
  float: right;
}

.modal-enter {
  opacity: 0;
}

.modal-leave-active {
  opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
